*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

lib/synvert/core/node_query/lexer.rex.rb
lib/synvert/core/node_query/parser.racc.rb
lib/synvert/core/node_query/parser.output
